language: node_js
notifications:
  email: true
  slack: codesmith-15:pJzGP558zsfbulY3uQSdl2n0
node_js:
  - '8'
cache:
  yarn: true
  directories:
    - node_modules
script:
  - npm run test:server
  - npm run test:client
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++-4.9-dev